%h1 Menu for FoodComrade restaurant
#ul
  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.description
      %td= product.price
    - if current_user.try(:admin?)
      %td= link_to 'Edit'